@media only screen and (max-width: 1280px){
  .sbm{
    height: 40vh;
    width: 93%;
  }
  .sbs{
    height: 35vh;
    width: 93%;
  }
  .ctw .selects{
    left: -10px;
  }

  .sbc {
    height: 35vh;
    width: 100%;
  }

}
  .sbm{
    height: 35vh;
    width: 100%;
  }
  .sbm .charts{
    
    margin-top: 5px;
    height: 35vh;
  }

  .sbs{
    height: 35vh;
    width: 100%;
  }
  .sbs .selects{
    left: 160px;
  }
  .cso{
    height: 25vh;
    width: 100%;
  }
  .ctw{
    height: 16vh;
    width: 100%;
  }
  .ctw .selects{
    left: 80px;
    top: -20px;
  }

  .sbc {
    height: 36vh;
    width: 100%;
  }

  .sbc .selects {
    left: 160px;
    top: -5px;
  }

  /* .chart {
    height: 140px;
    width: 100%;
  } */
