@media only screen and (max-width: 1280px){
  .sbm{
    height: 40vh;
    width: 93%;
  }
  .sbs{
    height: 35vh;
    width: 93%;
  }
}
  .sbm{
    height: 35vh;
    width: 100%;
  }
  .sbs{
    height: 35vh;
    width: 100%;
  }
  .cso{
    height: 25vh;
    width: 100%;
  }
  .ctw{
    height: 17vh;
    width: 100%;
  }
