.cadpct_pn {
  top: 20px;
  left: 10%;
}

.cadpct_qtd {
  top: 120px;
  left: 10%;
}

.cadpct_data {
  top: 320px;
  left: 10%;
}

.cadpct_linha {
  top: 220px;
  left: 10%;
}

.cadpct_turno {
  top: 320px;
  left: 50%;
}

.cadpct_cia {
  top: 220px;
  left: 50%;
}

.cadpct_input_1 {
  top: 45px;
  left: 10%;
}

.cadpct_input_2 {
  top: 145px;
  left: 10%;
}

.cadpct_input_3 {
  top: 245px;
  left: 10%;
}

.cadpct_input_4 {
  top: 345px;
  left: 10%;
}

.cadpct_input_5 {
  top: 345px;
  left: 50%;
}

.cadpct_input_6 {
  top: 245px;
  left: 50%;
}

.here {
  position: absolute;
  top: 240px;
  left: 10%;
}

.radio {
  color: #333;
}

@media only screen and (max-width: 1280px){
  .cadpct_pn {
    top: 20px;
    left: 10%;
  }
  
  .cadpct_qtd {
    top: 100px;
    left: 10%;
  }
  
  .cadpct_linha {
    top: 180px;
    left: 10%;
  }

  .cadpct_cia {
    top: 180px;
    left: 50%;
  } 

  .cadpct_data {
    top: 260px;
    left: 10%;
  }  
  
  .cadpct_turno {
    top: 260px;
    left: 50%;
  }
  
  .cadpct_input_1 {
    top: 45px;
    left: 10%;
  }
  
  .cadpct_input_2 {
    top: 125px;
    left: 10%;
  }
  
  .cadpct_input_3 {
    top: 205px;
    left: 10%;
  }
  
  .cadpct_input_4 {
    top: 290px;
    left: 10%;
  }
  
  .cadpct_input_5 {
    top: 290px;
    left: 50%;
  }
  
  .cadpct_input_6 {
    top: 205px;
    left: 50%;
  }
 }
